* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(5, 73, 98);
    padding: 20px;
    margin: 0;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    overflow: hidden;
}

.nav {
    display: flex;
    padding: 10px 30px;
    grid-column: 1/4;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #98eaf1;
    border-radius: 5px;
    overflow: hidden;
}

.left-nav {
    font-size: 30px;
}

.center-nav {
    display: flex;
    margin-left: 120px;
}

.center-nav p {
    font-size: larger;
    padding: 5px 15px;
    margin-right: 500px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.center-nav input {
    height: 30px;
    margin: 20px;
    margin-right: 3em;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.center-nav i {
    margin-top: 28px;
}

.right-nav {
    font-size: larger;
    margin-right: 100px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px 15px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
    grid-column: 1/4;
    overflow: auto;
}

.left-section {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

.category {
    display: grid;
    row-gap: 20px;
}

.category i {
    margin-right: 10px;
}

.mid-section {
    padding: 20px;
    background: #6ac4cc;
    border-radius: 10px;
    overflow: hidden;
}

.right-section {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.center-content {
    display: grid;
    row-gap: 20px;
}

.content {
    background-color: #fafbfb;
    border-radius: 5px;
    padding: 50px;
    padding-top: 50px;
    background-image: url(wp12057623.jpg);
    background-size: cover;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.content1 {
    background-color: #fafbfb;
    border-radius: 5px;
    padding: 180px;
    padding-top: 230px;
    position: relative;
}
.content1 .c1 #p1 {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    margin: 0;
    font-size: small; 
    color: gray;
}
.content1 .c1 #p2{
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.content1 .c1 #p3{
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 20px;
}
.content1 .c1 #p4{
    position: absolute;
    left: 20px;
    top: 140px;
    font-size: smaller;
    color: gray;
}
.content1 .c1 img{
    position: absolute;
    right: 8px;
    top: 50px;
    mix-blend-mode: multiply;

}
.content1 .c2 #p1{
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: small;
    color: gray;
}
.content1 .c2 #p2{
    position: absolute;
    top: 205px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.content1 .c2 #p3{
    position: absolute;
    top: 280px;
    left: 20px;
    font-size: 20px;
}
.content1 .c2 #p4{
    position: absolute;
    top: 320px;
    left:20px;
    font-size: smaller;
    color: gray;
}
.content1 .c2 img{
    position: absolute;
    right: 10px;
    top: 220px;
    mix-blend-mode: multiply;
}
.content2 {
    background-color: #fafbfb;
    border-radius: 5px;
}

.category:hover {
    cursor: pointer;
}
.cate1:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate2:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate3:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate4:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate5:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate6:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate7:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.cate8:hover{
    background-color: rgb(175, 173, 173);
    border-radius: 4px;
    padding: 5px;
    height: 30px;
}
.center-nav .dash:hover{
    cursor: pointer;
    background-color: rgb(175, 173, 173);
    transform: scale(1.1);
}
.right-nav:hover{
    cursor: pointer;
    background-color: rgb(175, 173, 173);
    transform: scale(1.1);
}
.latest-shoes {
    background-color: #cdccd3;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 40px;
}

.latest-shoes button {
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #6ac4cc;
    color: white;
    border: none;
}

.p1 {
    font-size: 30px;
    height: 10px;
    color: white;
}

.p2 {
    color: white;
}
.prof {
    font-size: 20px;
    background-color: #6ac4cc;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.latest-shoes button:hover{
    transform: scale(1.1);
}
.right-section i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: gray;
    border-radius: 50%;
    font-size: 30px; 
    width: 80px;
    height: 80px; 
    margin-top: 10px;
    margin-left: 16px; 
    color: white;
}
.right-content{
    margin-bottom: 530px;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .nav {
        padding: 10px 20px;
    }

    .center-nav p {
        margin-right: 250px;
    }

    .content-container {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .content1 {
        padding: 100px;
    }

    .content2 {
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .nav {
        flex-direction: row;
        padding: 10px;
    }

    .center-nav {
        margin-left: 10px;
        justify-content: center;
    }

    .center-nav p {
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 4;
    }
    .center-nav input{
        margin-left: 5px;
    }
    .right-nav{
        margin: 10px;
    }
    .content-container {
        grid-template-columns: 1fr;
    }

    .content1{
        padding: px;
    }
    .content2{
        padding: 0px;
    }

    .latest-shoes {
        padding: 20px;
    }

    .p1 {
        font-size: 24px;
    }

    .category i {
        margin-right: 5px;
    }
}


